@using DataAccess.Tablas;
@{

    var empleadoLogueado = (DataAccess.Tablas.Empleado)Session["empleado"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - El Gran Panzón</title>
    @Styles.Render("~/Content/css")
    <!--@Scripts.Render("~/bundles/modernizr")-->

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/"> <span class="icon-home"></span> El Gran Panzón</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">

                    @if (empleadoLogueado != null) {
                        if (empleadoLogueado.VerificarCualquierPermiso("CREAR_EMPLEADO", "VER_EMPLEADO")) {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon-user"></span>  Administrar Empleados
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("CrearEmpleado", "Administrar")">
                                        <span class='icon-user-plus'></span> Crear Empleado
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("VerEmpleados", "Administrar")">
                                        <span class='icon-users'></span> Ver Empleados
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("AgregarProducto", "Insumo")">
                                        <span class='icon-plus'></span> Agregar Insumos
                                    </a>
                                </div>
                            </li>
                        }
                    }
                    @if (empleadoLogueado != null) {
                        if (empleadoLogueado.VerificarCualquierPermiso("VER_INVENTARIO_I", "ENTREGAR_INSUMO")) {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon-appleinc"></span> Administrar Insumos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("EntregarInsumo", "Insumo")">
                                        <span class='icon-minus'></span> Entregar Insumos
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("VerInsumos", "Insumo")">
                                        <span class='icon-list-numbered'></span> Ver Inventario de Insumos
                                    </a>
                                </div>
                            </li>
                        }
                    }
                    @if (empleadoLogueado == null) {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon-address-book"></span> Contactos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><span class="icon-phone"></span> Teléfono: 3004255615</a>
                                <a class="dropdown-item" href="#"><span class="icon-mail4"></span> Correo: elgranpanzon@gmail.com</a>
                                <a class="dropdown-item" href="#"><span class="icon-location"></span> Dirección: Cra 50 #128 - 38</a>
                            </div>
                        </li>
                    }
                    @if (empleadoLogueado == null) {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("IniciarSesion", "Login")">
                                <span class='icon-enter'></span> Iniciar Sesión
                            </a>
                        </li>
                    }
                    @if (empleadoLogueado != null && empleadoLogueado.VerificarPermiso(Permiso.VerInventarioGeneral)) {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("VerInventarioGeneral", "Insumo")">
                                <span class='icon-list-numbered'></span> Ver Inventario General
                            </a>
                        </li>
                    }
                    @if (empleadoLogueado != null && empleadoLogueado.VerificarCualquierPermiso("VER_INVENTARIO_C", "REALIZAR_VENTA")) {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class='icon-price-tag'></span> Compras
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Pedidos", "Compras")">
                                    <span class='icon-cart'></span> Realizar Pedido
                                </a>
                                <a class="dropdown-item" href="@Url.Action("VerHistorial", "Compras")">
                                    <span class='icon-stats-dots'></span> Ver Historial de Ventas
                                </a>
                            </div>
                        </li>

                    }
                    @if (empleadoLogueado != null) {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("CerrarSesion", "Login")">
                                <span class='icon-exit'></span> Cerrar Sesión
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead">

        @RenderBody()

    </header>
    <div class="container body-content">
        <hr />
        <!-- Footer -->
        <footer class="bg-light py-5">
            <div class="container">
                <div class="small text-center text-muted">Copyright &copy; Luis Carlos Pedroza & Juan Miguel Castro</div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-easing")
    @Scripts.Render("~/bundles/jquery-magnific")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/creative")
    @Scripts.Render("~/bundles/ElGranPanzon")
    @RenderSection("scripts", required: false)

</body>
</html>
