@using DataAccess.Tablas;
@{

    var empleadoLogueado = (DataAccess.Tablas.Empleado)Session["empleado"];

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - El Gran Panzón</title>
    @Styles.Render("~/Content/css")
    <!--@Scripts.Render("~/bundles/modernizr")-->

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">El Gran Panzón</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">

                    @if (empleadoLogueado != null) {
                        if (empleadoLogueado.VerificarCualquierPermiso("CREAR_EMPLEADO", "VER_EMPLEADO")) {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administrar Empleados
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @{
                                        var atributosDropdown = new Dictionary<string, object> {
                                    {"class", "dropdown-item" }
                                };
                                    }

                                    @Html.ActionLink("Crear Empleado", "CrearEmpleado", "Administrar", null, atributosDropdown)
                                    @Html.ActionLink("Ver Empleados", "VerEmpleados", "Administrar", null, atributosDropdown)
                                    @Html.ActionLink("Agregar Insumos", "AgregarProducto", "Insumo", null, atributosDropdown)
                                </div>
                            </li>
                        }
                    }
                    @if (empleadoLogueado != null) {
                        if (empleadoLogueado.VerificarCualquierPermiso("VER_INVENTARIO_I", "ENTREGAR_INSUMO")) {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administrar Isnumos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @{
                                        var atributosDropdown = new Dictionary<string, object> {
                                    {"class", "dropdown-item" }
                                };
                                    }
                                    @Html.ActionLink("Entregar Insumos", "EntregarInsumo", "Insumo", null, atributosDropdown)
                                    @Html.ActionLink("Ver Inventario de Insumos", "VerInsumos", "Insumo", null, atributosDropdown)
                                </div>
                            </li>
                        }
                    }
                    @{
                        var atributosNavLink = new Dictionary<string, object> {
                                    {"class", "nav-link" }
                        };
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contactos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Teléfono: 3004255615</a>
                            <a class="dropdown-item" href="#">Correo: elgranpanzon@gmail.com</a>
                            <a class="dropdown-item" href="#">Dirección: Cra 50 #128 - 38</a>
                        </div>
                    </li>
                    @if (empleadoLogueado == null) {
                        <li class="nav-item">
                            @Html.ActionLink("Iniciar Sesión", "IniciarSesion", "Login", null, atributosNavLink)
                        </li>
                    }
                    @if (empleadoLogueado != null && empleadoLogueado.VerificarPermiso(Permiso.RealizarCompra)) {
                        <li class="nav-item">
                            @Html.ActionLink("Realizar Pedido", "Pedidos", "Compras", null, atributosNavLink)
                        </li>
                    }
                    @if (empleadoLogueado != null) {
                        <li class="nav-item">
                            @Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Login", null, atributosNavLink)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead">

        @RenderBody()

    </header>
    <div class="container body-content">
        <hr />
        <!-- Footer -->
        <footer class="bg-light py-5">
            <div class="container">
                <div class="small text-center text-muted">Copyright &copy; Luis Carlos Pedroza & Juan Miguel Castro</div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-easing")
    @Scripts.Render("~/bundles/jquery-magnific")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/creative")
    @Scripts.Render("~/bundles/ElGranPanzon")
    @RenderSection("scripts", required: false)

</body>
</html>
